{% load static %}

<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>5월 24일부터 작업하는 페이</title>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}" />
</head>

<body>
	<h1>타이틀 미정</h1>
	<div id="test">
		<div class="menu">
            <P class="pulser">shopping</P>
			<P class="pulser">Live</P>
			<P class="pulser">Game</P>
			<h2><a href="post_list.html">가나다라마바사</a></h2>
			<img src="{% static 'img/first-img.jpg' %}" alt="first-img">
			heroku!
		</div>
      <div>
            <h2><a href="post_list.html">가나다라마바사</a></h2>
                <img src="{% static 'img/first-img.jpg' %}" alt="first-img">
                <p>heroku!</p>
           <section class="">pulser</section>
        </div>
    <footer>ye&amp;bea bugs for ninano</footer>
	</div>
</body>
</html>