<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>5월 24일부터 작업하는 페이</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>타이틀 미정</h1>
<div id="1_title">
	<div class="1_area">
		<P class="1_p">내용을 머할지 나는 1도 모르겟어</P>
	 	<P class="1_p">화면구성을 해보시오1</P>
		<P class="1_p">화면구성을 해보시오2</P>
		<P class="1_p">화면구성을 해보시오3</P>
		<P class="1_p">화면구성을 해보시오4</P>
	</div>
	<div class="2_area">
<P class="2_p">내용을 머할지 나는 2도 모르겟어</P>
	 	<P class="2_p">화면구성을 해보시오1</P>
		<P class="2_p">화면구성을 해보시오2</P>
		<P class="2_p">화면구성을 해보시오3</P>
		<P class="2_p">화면구성을 해보시오4</P>
		<footer>ye&amp;bea bugs for ninano</footer>
	</div>
  </div>
</body>
</html>
